#header {
  height: 64px;
  background-color: black;
}

#body {
  height: 100%;
  /* 부모영역과 동일하게. body태그의 영역 */
  background-color: blue;
  width: 1024px;
  margin: 0 auto;
  /* 부모로부터 가운데정렬이 됨 */
}

#footer {
  height: 200px;
  background-color: red;
}

#banner {
  height: 300px;
  background-color: yellow;
}
